.title {
  color: #474c62;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid whitesmoke;
}

.headerMiddle {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

.headerMiddle > input {
  border: none;
  width: 100%;
  padding: 10px;
  outline-width: 0;
  font-size: medium;
  background-color: transparent;
}

.headerRight {
  display: flex;
  padding-right: 20px;
}

.headerLeft {
  display: flex;
}
